.landingPageBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);
}