

@font-face {
    font-family: 'unpretentious';
    src: url('/unpretentious-webfont.woff2');
  }

:root {
    --alviesBlue: #009ceb;
    --alviesDarkBlue: #002952;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: aliceblue;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header {
    background-color: #333;
    color: #fff;
    text-align: cover;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;
}



footer {
    background-color: var(--alviesDarkBlue);
    font-family: 'unpretentious', sans-serif;
    color: aliceblue;
}

footer a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    font-size: 2.5cqh;

}



footer a:hover {
    color: var(--alviesBlue);
}

footer li {
    justify-content: right;
    list-style: none;
}


main {
    display: inline-block;
    width: 100%;
    background-image: url(https://alvies-test.imgix.net/gsmith_20220611_0285-1.jpg?auto=compress%2Cformat&dm=1665771107&fit=clip&ixlib=php-3.1.0&w=2100);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.landingPageBox {
    display: flex;
    flex-direction: column;
    margin-right: auto 15px;
    margin-left: auto 15px;
    align-items: center;
    text-align: center;
    min-height: 100cqh;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
;
}


h1 {

    font-size: 8cqb;
    font-weight: 600;
    font-family: 'unpretentious', sans-serif;
    letter-spacing: .5cqw;
    color: aliceblue;
    filter: drop-shadow(0px 0px 3px black) drop-shadow(2px 2px 3px black) drop-shadow(-2px -2px 3px black);
}

 h2, h3 {
    color: var(--alviesBlue);;
    font-size: 7cqb;
    font-family: 'unpretentious', sans-serif;
    letter-spacing: .5cqw;
    padding: 10px;
    width: 100%;
}

h4 {
    color: aliceblue;;
    font-size: 5cqb;
    font-family: 'unpretentious', sans-serif;
    letter-spacing: .3cqw;
    padding: 10px;
    width: 100%;
}

.landingPageBox h3 {
    font-size: 5cqb;
}



.navbar-header {
    background-color: var(--alviesBlue);
    color: white;
   
}

.landingPageButton {
    background-color: var(--alviesBlue);
    font-family: 'unpretentious', sans-serif;
    letter-spacing: 0;
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: 0px;
    width: 100%;
    max-width: 90%;
    font-size: 5cqh;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    
}

.landingPageButton:hover {
    background-color: #f4a836;
}



.landingPageImgBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100cqh;
    width: 50%;
    min-width: 50%;
    background-color: var(--alviesBlue);

    
}


.card {
    background-color: aliceblue;
}

.card .h1 .h2 .h3 .h4 {
    color: var(--alviesBlue);
    font-family: 'unpretentious', sans-serif;
}

.pblock {
    background-color: var(--alviesBlue);;
    font-family: "work-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2cqh;
    letter-spacing: .1cqw;
    color: aliceblue;
    text-align: right;
    padding: 2cqb;
    width: 100%;
    max-width: 50cqw;
    margin: 100px 10px 0px 0px;
    border-radius: 3px;
}

.pblock a {
    color: aliceblue;
    text-decoration: none;

}


.imageBG {


    background-size: "cover";    
    
    background-attachment: fixed;
    background-repeat: no-repeat;

}

@media screen and (max-width: 1200px) {

    .smallHide {
        display: none;
    }
    
}

.react-datepicker__time-list-item--disabled {
    display: none;
}

@media screen and (max-width: 980px) {

    .pblock {
        text-align: center;
        padding: 10px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        margin-top: 15cqh;
    }

    .imageBG {
        padding: 0;
        background-position: 25%;
    }

}