body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    background-color: #333;
    color: #fff;
    text-align: cover;
    padding: 10px;
}
#shopping-list {
    max-width: 400px;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
button {
    background-color: #f4a83665;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    background-color: rgba(148, 179, 91, 0.731);
    color: black;
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 20px;
    color: darkgreen;
}

  
  